@charset "UTF-8";

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;   
}

.box {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 10px;               
}

.box input[type="text"] {
  width: 350px;   
  height: 20px;    
  padding: 10px;    
  font-size: 16px;   
}

.box input[type="submit"] {
  width: 280px;
  height: 45px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

